.contact-us {
  padding: 20px;
  border-radius: 5px;
  margin: 30px auto;
}

.contact-us__container {
  background-color: red;
}

.contact-us__success {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us__error {
  margin-bottom: 10px !important;
}