// Colors
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;

// Company branding colors, gradients, and rgbas
$company-orange: #F05922;
$company-blue: #00A3E4;
$company-orange-rgba: rgba(240, 89, 34,0.85);
$company-orange-light-rgba: rgba(218,85,40, 0.40);
$company-blue-rgba:rgba(26, 133, 201, 0.85);
$company-blue-light-rgba: rgba(0, 163, 228,.40);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Shading
$generic-drop-shadow: drop-shadow(0 0 10px rgba(0, 0, 0, .5));

